---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

// works fine, button pressed --> confetti
// first letter has to be capitalized
import Confetti_Btn from "~/components/1_Trials/confetti_Button.astro";


// Plotly
import Load_Scripts from "~/components/0_Own/load_Scripts.astro";
import Show_Plot_Density from "~/components/0_Own/plotly_Plt_Dens.astro";
import Show_Plot_Z from "~/components/0_Own/plotly_Plt_Z_Fac.astro";

import H2O_Plot from "~/pages/0_Own/h2_Density.html";
// import H2O_Astro from "~/assets/h2_Density.astro";


---
<ContentSection 
title="Hydrogen Density-Pressure-Temperature Plot" 
id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  
  <Fragment slot="lead">
    The following plot provides an interactive view that allows exploration of the relationship between hydrogen's density, pressure, and temperature.
    You can use the legend to selectively hide or show the desired H2 plot.
    Also, if you prefer a white background, locate the button labeled 'Dark' and select 'Presentation'.
  </Fragment>

  <!-- <Confetti_Btn /> -->

  <!-- load some scripts that are required for the plotly plot -->
  <Load_Scripts />
  
  <!-- --------------------------- density plot ---------------------------- -->
  <div  id="375e52d1-7d4a-4ca7-b949-22645347748f"
        class=" plotly-graph-div
                w-11/12
                py-8
                "
        style="height:87vh;"
                > 
  
    <!-- after the div was generated using plotly id, plotly class and tailwind class, use script code to generate the plot -->
    <Show_Plot_Density />
  
  </div>
  
  <!-- --------------------------- z factor plot --------------------------- -->
  <div  id="z_Factor_Plt"
        class=" plotly-graph-div
                w-11/12
                py-8
                "
        style="height:87vh;"
                > 
  
    <!-- after the div was generated using plotly id, plotly class and tailwind class, use script code to generate the plot -->
    <Show_Plot_Z />
  
  </div>
  
</ContentSection>


